
<%= render @user %>
<section>
<p class="bio">
<span>Bio</span>
<%= @user.bio%>
</p>

<%@user.posts.each_with_index do |post, index|%>
<a href="/users/<%=@user.id%>/posts/<%=post.id%>">
<div class="post">
<span>
<%=post.title%>
#<%=index + 1%>
</span>
<%=post.text%>
<p>
Comments: <b><%=post.comments_counter%></b>,
Likes: <b><%=post.likes_counter%></b>
</p>
</div>
</a>
<%end%>
<div class="btns">
<button type="button">See all posts</button>
 <button type="button"><%= link_to "Back to users", users_path %></button>
 </div>

</section>

 