<div id="posts">
<%=render @user%>
<%if @posts.empty?%>
<h2>No posts</h2>
<%else%>
  <% @posts.each_with_index do |post, index| %>
  <a href="/users/<%=@user.id%>/posts/<%=post.id%>">
  <div class="post" id="post-comments">
  <span>
    <%=post.title%>
#<%=index + 1%>
</span>
<%=post.text%>
<p>
Comments: <b><%=post.comments_counter%></b>,
Likes: <b><%=post.likes_counter%></b>
</p>
</div>
</a>
<%if !post.comments.empty?%>

<div class="comments">

<%post.recent_comments.each_with_index do |comment| %>

<p>
<%=comment.user.name%>:
<%=comment.text%>
<p> 
<%end%>
<%end%>
</div>
  <% end %>
  <button>next page</button>
  <%end%>
  
</div>


